.col3 {
   padding-left: 31px
}
.col5{
	width: 37.666667%;
	padding-left: 22px
}
.fc{
	margin-bottom: -1px;
}

div,li,ul {
	margin:0;
	padding:0;
}
ul li {
	list-style:none;
}

.Companies {
	position:relative;
}
.Companies ul {
	position:relative;
	height:210px;
	width:100%;
	overflow-y:auto;
	border:1px solid #DDD;
	display:none;
}
.Companies ul li {
	padding:3px 12px;
}
.Companies ul li:hover {
	background-color:#474747;
	cursor:pointer;
}
.Companies ul li.top {
	position:absolute;
	top:0;
}
